/* External Font - Ubuntu and stylings */
.ubuntu-light {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ubuntu-regular {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ubuntu-medium {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.ubuntu-bold {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.ubuntu-light-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.ubuntu-regular-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.ubuntu-medium-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.ubuntu-bold-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: italic;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
}

.left-half {
	display: flex;
	position: relative;
	width: 40vw;
	max-width: 618px;
	height: 100vh;
	justify-content: center;
}

.castle-container {
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	vertical-align: top;
	overflow: hidden;
}

.castle-img {
	height: 100%;
	z-index: -1;
}

.logo-total {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 25%;
	background-color: hsla(0, 0%, 10%, 0.2);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.logo-img {
	padding: 5px;
}

.logo-text {
	color: white;
	padding-left: 5px;
}

.right-half {
	width: 60vw;
	display: flex;
	flex-direction: column;
}

.emphasize {
	font-style: italic;
}

.intro {
	margin-top: 20%;
	margin-bottom: 10%;
	margin-left: 5%;
	margin-right: 10%;
	max-height: 30vh;
}

form {
	display: flex;
	flex-direction: column;
	height: 30vh;
	margin-left: 5%;
	margin-right: 10%;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.names,
.contacts,
.passwords {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.first-name-container,
.last-name-container,
.email-container,
.phone-number-container,
.password-container,
.password-confirm-container {
	display: flex;
	flex-direction: column;
	margin: 1%;
}

input {
	width: 90%;
	border-radius: 4px;
	outline: none;
}

label {
	font-size: 10px;
}

input:focus {
	border: 2px solid rgb(30, 130, 224);
	outline: 1px solid rgb(30, 130, 224);
}

input:invalid {
	border: 1px solid red;
	outline: 1px solid red;
}

.create-section {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 10%;
}

.join {
	border-radius: 4px;
	color: white;
	background: rgb(30, 130, 224);
	width: 30%;
}

.log-in {
	font-size: 12px;
	margin-top: 5px;
}

.form-container {
	border-bottom: 1px solid grey;
	width: 100%;
	box-shadow: 0 4px 2px -2px gray;
}

.link {
	color: rgb(30, 130, 224);
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}
